

<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #62e227;">
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a routerLink="students" routerLinkActive="active" class="nav-link">Student List</a>
        </li>
        <li class="navbar-item">
            <a routerLink="create-student" routerLinkActive="active" class="nav-link">Create Student</a>
        </li>
        <li class="navbar-item">
            <a routerLink="search-student" routerLinkActive="active" class="nav-link">Search Student</a>
        </li>
        <li class="navbar-item">
            <a routerLink="sort-student" routerLinkActive="active" class="nav-link">Sort Student</a>
        </li>
    </ul>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>

<footer class="footer page-footer font-small mdb-color darken-3 pt-4 footer-copyright text-center py-3">
<div class="container">
    <span>All Right Reserved 2022 @NeoSOFT Technology</span>
</div>
</footer>

